<div *ngIf="radar">
	<div class="block-header">
		<h2 (click)="showEdit()">{{radar.title}}</h2>
	</div>
	public link: http://localhost:555/public/radar/{{radar.publicId}}
	<div *ngIf="showTitleEditBox">
		<input type="text" size="30" [(ngModel)]="radar.title" />
		<button (click)="saveTitle()">Ok</button>
	</div>
	<div *ngIf="selectedArea !== null">
		<a
			[routerLink]="['/RadarRouter/ViewRadar', {radarId: radarId, area: areasEnum[selectedArea]}]">View
			radar</a>
	</div>
	<select-area (onSelected)="onAreaSelected($event)"></select-area>

	<div *ngIf="selectedArea !== null">
		<!-- <h2>Area: {{selectedArea}}</h2> -->
		<div *ngIf="showAddNew">
			<item-form (onCancel)="closeAddNewForm()"
				(onAdd)="initiativeAdded($event)" [area]="selectedArea"
				[radar]="radar"></item-form>

		</div>
		<div *ngIf="!showAddNew">
			<button class="btn btn-default" (click)="showAddNewForm()">Add
				new</button>
		</div>
		<div>
			<div class='wrapper' id="dragulaWrapper">
				<div class="row">
					<!--  start of card -->
					<div class="col-sm-6">
						<!-- Recent Items -->
						<div class="card">
							<div class="card-header">
								<h2>
									Assess<small>The Assess Ring are things that you should
										look at closely, but not necessarily trial yet - unless you
										think they would be a particularly good fit for you. Typically
										blips in the assess ring are things that we are currently
										trialling, on our projects.</small>
								</h2>
								<ul class="actions">
									<li class="dropdown" uib-dropdown=""><a href=""
										uib-dropdown-toggle="" class="dropdown-toggle"
										aria-haspopup="true" aria-expanded="false"> <i
											class="zmdi zmdi-more-vert"></i>
									</a>

										<ul class="dropdown-menu dropdown-menu-right">
											<li><a href="">Refresh</a></li>
											<li><a href="">Settings</a></li>
											<li><a href="">Other Settings</a></li>
										</ul></li>
								</ul>
							</div>

							<div class="card-body m-t-0">

								<!--  div based cont -->
								<div class="listview">
									<div class='container' [attr.data-container-id]='"assess"'
										[dragula]='"embracements-bag"'>

										&nbsp;
										<!-- ngRepeat: w in rpctrl.rpResult.list -->
										<a class="lv-item" href=""
											*ngFor="#initiative of initiatives2[embracementEnum.assess]"
											[attr.data-embr-id]="initiative.id">
											<div class="media">
												<div class="pull-left">
													<!-- <img class="lv-img-sm" data-ng-src="img/profile-pics/1.jpg"
														alt="" src="img/profile-pics/1.jpg"> -->
													<i class="material-icons md-36">donut_large</i>

												</div>
												<div class="media-body">
													<div class="lv-title ng-binding">{{initiative.title}}
													</div>
													<small class="lv-small ng-binding">{{initiative.description}}</small>
												</div>
											</div>
										</a>
									</div>


									<div class="clearfix"></div>

								</div>
								<!--  close div bas cont -->
							</div>
						</div>
					</div>
					<!-- end of card -->
					<!--  start of card -->
					<div class="col-sm-6">
						<!-- Recent Items -->
						<div class="card">


							<div class="card-header">
								<h2>
									Trial<small></small>
								</h2>
							</div>
							<div class="card-body m-t-0">

								<!--  div based cont -->
								<div class="listview">

									<div class='container' [attr.data-container-id]='"trial"'
										[dragula]='"embracements-bag"'>

										&nbsp;
										<!-- ngRepeat: w in rpctrl.rpResult.list -->
										<a class="lv-item" href=""
											*ngFor="#initiative of initiatives2[embracementEnum.trial]"
											[attr.data-embr-id]="initiative.id">
											<div class="media">
												<div class="pull-left">
													<!-- <img class="lv-img-sm" data-ng-src="img/profile-pics/1.jpg"
														alt="" src="img/profile-pics/1.jpg"> -->
													<i class="material-icons md-36">donut_large</i>

												</div>
												<div class="media-body">
													<div class="lv-title ng-binding">{{initiative.title}}
													</div>
													<small class="lv-small ng-binding">{{initiative.description}}</small>
												</div>
											</div>
										</a>
									</div>


									<div class="clearfix"></div>

								</div>
								<!--  close div bas cont -->
							</div>
						</div>
					</div>
					<!--  end of card -->

					<!--  start of card -->
					<div class="col-sm-6">
						<!-- Recent Items -->
						<div class="card">


							<div class="card-header">
								<h2>
									Adopt<small></small>
								</h2>
							</div>
							<div class="card-body m-t-0">

								<!--  div based cont -->
								<div class="listview">


									<div class='container' [attr.data-container-id]='"adopt"'
										[dragula]='"embracements-bag"'>

										&nbsp;
										<!-- ngRepeat: w in rpctrl.rpResult.list -->
										<a class="lv-item" href=""
											*ngFor="#initiative of initiatives2[embracementEnum.adopt]"
											[attr.data-embr-id]="initiative.id">
											<div class="media">
												<div class="pull-left">
													<!-- <img class="lv-img-sm" data-ng-src="img/profile-pics/1.jpg"
														alt="" src="img/profile-pics/1.jpg"> -->
													<i class="material-icons md-36">donut_large</i>

												</div>
												<div class="media-body">
													<div class="lv-title ng-binding">{{initiative.title}}
													</div>
													<small class="lv-small ng-binding">{{initiative.description}}</small>
												</div>
											</div>
										</a>
									</div>


									<div class="clearfix"></div>

								</div>
								<!--  close div bas cont -->
							</div>
						</div>
					</div>
					<!--  end of card -->

					<!--  start of card -->
					<div class="col-sm-6">
						<!-- Recent Items -->
						<div class="card">


							<div class="card-header">
								<h2>
									Hold<small></small>
								</h2>
							</div>
							<div class="card-body m-t-0">

								<!--  div based cont -->
								<div class="listview">

									<div class='container' [attr.data-container-id]='"hold"'
										[dragula]='"embracements-bag"'>
										&nbsp;
										<!-- ngRepeat: w in rpctrl.rpResult.list -->
										<a class="lv-item" href=""
											*ngFor="#initiative of initiatives2[embracementEnum.hold]"
											[attr.data-embr-id]="initiative.id">
											<div class="media">
												<div class="pull-left">
													<!-- <img class="lv-img-sm" data-ng-src="img/profile-pics/1.jpg"
														alt="" src="img/profile-pics/1.jpg"> -->
													<i class="material-icons md-36">donut_large</i>

												</div>
												<div class="media-body">
													<div class="lv-title ng-binding">{{initiative.title}}
													</div>
													<small class="lv-small ng-binding">{{initiative.description}}</small>
												</div>
											</div>
										</a>
									</div>


									<div class="clearfix"></div>

								</div>
								<!--  close div bas cont -->
							</div>
						</div>
					</div>
					<!--  end of card -->



					<!--  start of card -->
					<div class="col-sm-6">
						<!-- Recent Items -->
						<div class="card">


							<div class="card-header">
								<h2>
									<i class="material-icons md-48">delete_forever</i> Delete<small></small>
								</h2>
							</div>
							<div class='container' [attr.data-container-id]='"trash"'
								[dragula]='"embracements-bag"'>
								<div class="card-body m-t-0">

									<!--  div based cont -->
									<div class="listview">

										<div>&nbsp;</div>

										<div class="clearfix"></div>

									</div>
									<!--  close div bas cont -->
								</div>
							</div>
						</div>

					</div>
					<!--  end of card -->



				</div>
				<!--  end of row container -->




			</div>
		</div>

	</div>

</div>

